# Node.js dependencies
node_modules/
node_modules

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Yarn Integrity file
.yarn-integrity

# IDE files
.idea/
.vscode/
