.fill-width {
    width: -webkit-fill-available;
}

td {
    padding: 16px 8px !important;
}


/* CSS for Toggle Button */
#slider {
    transition: .4s;
}

#slider::before {
    position: absolute;
    content: "";
    height: 12px;
    width: 12px;
    left: 18px;
    top: 2px;
    transition: .4s;
    background: white;
    border-radius: 50%;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
}

input:checked+#slider {
    background: green;
}

input:checked+#slider:before {
    transform: translateX(-16px);
}